@font-face {
  font-family: 'Kappa Mono';
  src: url('../webfonts/KappaMono-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Kappa Mono';
  src: url('../webfonts/KappaMono-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Kappa Mono';
  src: url('../webfonts/KappaMono-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Kappa Mono';
  src: url('../webfonts/KappaMono-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
